<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Detail Lookup Treeview</title>
            <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
            <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
        </head>
        <body>
            <div class="container" th:fragment="lookupItemTreeView(lookupItemList)">
                <div class="row">
                    <div class="col-12 list-group list-group-tree well">
                        <th:block th:insert=":: renderLookupItemList(${lookupItemList})"></th:block>
                    </div>
                </div>
            </div>
            <th:block th:fragment="renderLookupItemList(lookupItemList)">
                <th:block th:if="${#lists.size(lookupItemList) > 0}">
                    <a th:each="item, iStat : ${lookupItemList}"
                       href="javascript:void(0);" th:class="|list-group-item|" data-toggle="collapse">
                        <i th:if="${item.getChildrenSize()>0}" class="fa fa-chevron"></i>
                        <i th:unless="${item.getChildrenSize()>0}" class="fa fa-minus"></i>
                        <span th:text="|${iStat.index + 1}- ${item.name}[${item.primaryKey}] - {parent-id: ${item.parentId==null?'null':item.parentId}, ${item.getDbInfo()}}|"></span>
                        <span th:class="|badge rounded-pill float-end ${item.isExistsInDB ? 'bg-warning' : 'bg-primary'}" th:text="${item.getChildrenSize()}"></span>
                        <th:block th:if="${item.getChildren() != null}">
                            <div class="list-group collapse" style="padding-left:15px;">
                                <th:block th:insert=":: renderLookupItemList(${item.getChildren()})"></th:block>
                            </div>
                        </th:block>
                    </a>
                </th:block>
            </th:block>
        </body>
    </html>