<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>Random Utils</title>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-12 text-center">
                <h3>Random Utils</h3>
            </div>
        </div>
        <br/>
        <hr>
        <div class="row">
            <div class="col-5">
                <h5>Links:</h5>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active">Maven Project Analyzer</button>
                    <button type="button" class="list-group-item list-group-item-action">Search in Directory</button>
                    <button type="button" class="list-group-item list-group-item-action">Search in DB</button>
                    <button type="button" class="list-group-item list-group-item-action">Parse TCE data from Excel Files</button>
                </div>
            </div>
            <div class="col-7">
                <h5 style="color:white;">Links:</h5>
                <div class="card">
                    <h5 class="card-header">Generic Tool</h5>
                    <div class="card-body">
                        <h5 class="card-title">Maven Project Analyzer</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="/maven-project" target="_blank" class="btn btn-primary">Go to page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>