<!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
        <meta charset="UTF-8">
        <title>random-spinner</title>
      <style>
        .box {
          position: absolute;
          top: 0;
          left: 0;
          min-height: 100%;
          min-width: 100%;
          background-color: rgb(0 0 0 / 0.1);
          color: #fff;
        }
      </style>
    </head>
    <body>
        <div class="box text-center d-flex flex-column min-vh-100 justify-content-center align-items-center">
          <div th:class="|${spinnerClass}|" role="status" id="spinner-modal"></div>
        </div>
    </body>
  </html>